html,
body {
  font-family: "Merriweather", serif;
  background-color: #f9f9f9;
}

.header {
  font-style: italic;
}

.card-thumb {
  object-fit: cover;
  max-height: 15vh;
}

.text-editor {
  border-radius: 3;
  min-height: 200;
  line-height: 1.75rem;
}
